@{
    ViewData["Title"] = "Home Page";
}

@model List<Book>
@*@model BooksViewModel*@

<div class="text-center">
    <style>
        li {
            list-style: none;
        }
    </style>
    <h1 class="display-4">Book Store</h1>

    @foreach (Book b in Model)
    {
        <h3>@b.Title</h3>
        <ul>
            <li>ISBN: @b.Isbn</li>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher individuals served</li>
            <li>Category: @b.Category</li>
            <li>Classification: @b.Classification</li>
            <li>Number of Pages: @b.PageCount</li>
            <li>Price: $@b.Price</li>
        </ul>
    }

</div>

